#fin-logo {
   font-family: "Caveat", sans-serif;
   font-size: 36pt;
   text-decoration: none;
}

nav, li {
   padding: 1% 4%;
   color: white;
}

/* nav {
   background-color: #303030;
} */

a {
   color: white;
}

.hovered:hover {
   color: rgb(35, 83, 255);
}

.hovered:active {
   color: rgb(35, 83, 255);
}

.profile-icon {
   width: 7%;
   margin-right: 4%;
}

.left {
   width: 25%;
   max-width: 300px;
}

.middle {
   width: 20%;
   max-width: 300px;
}

.right {
   width: 20%;
   max-width: 350px;
}
