<div class="containerr bg-dark">
   <div class="hero-containerr">
      <div id="headings">
         <h1 class="headings">Here at <span>"-fin-"</span>, we love movies...</h1>
         <h3 class="headings">But searching extensively for what to watch is not so great</h3>
      </div>
      <img id="hero-img" src="assets/hero-img.jpeg">
   </div>
</div>
<div class="containerr">
   <h2>Why join the <span>"-fin-"</span> community?</h2>
   <div id="cards-container">
      <div class="card cards">
         <img src="assets/card-img-1.jpeg" class="card-img-top" alt="...">
         <div class="card-body">
         <h5 class="card-title">No more Frustration</h5>
         <p class="card-text">We've all been there. Searching for what movie to watch while our food gets cold. "-fin-" helps with giving you immediate results ahead of time based off of what you have previously watched and loved.</p>
         </div>
      </div>
      <div class="card cards">
         <img src="assets/card-img-4.jpeg" class="card-img-top" alt="...">
         <div class="card-body">
         <h5 class="card-title">Browse</h5>
         <p class="card-text">Not ready to fully commit yet? That's okay! You can still browse and create a quick Watch List without needing an account.</p>
         </div>
      </div>
      <div class="card cards">
         <img src="assets/card-img-2.jpeg" class="card-img-top" alt="...">
         <div class="card-body">
         <h5 class="card-title">Create Your Movie Profile</h5>
         <p class="card-text">With creating an account, you get to envision and set up your Movie Profile by adding in some films you absolutley love and recieved a curated Watch List just for you! You can always come back and add more movies </p>
         </div>
      </div>
   </div>
   <div class="containerr join">
      <h2 class="join-text">Well What Are You Waiting For?</h2>
      <p class="join-text join-p"> Joining "-fin-" is quick and painless. More importantly, FREE!</p>
      <a routerLink="/login" (click)="global.scrollToTop()"><button type="button" class="btn btn-dark">Sign Up!</button></a>
   </div>
</div>