.left {
   margin-left: 1%;
}

#fin-logo {
   font-family: "Caveat", sans-serif;
   font-size: 28pt;
   color: white;
}

.right {
   width: 10%;
}

/* .middle {
   Come back and style this
} */

.image {
   width: 40%;
   margin: 3%;
}
